<div class='tieude'> Danh sách thiết bị </div>
<div id='list-devices'>
  <!-- <div class='device'>
    <div class='img-device'>
      <img src='images/sprinkler-head.gif'>
    </div>
    <div class='type-device'> Valve </div>
    <div class='name-device'> Sprinkler 01 </div>
    <div class='sumit-device'>
      <a id="dialog-window" href="#dialog-box" onclick="open_dialog(1);"> Cài đặt</a>
    </div>
  </div>-->
</div>
<div class='dialog-devices' id='dialog-box'>
  <div class='tieude'> Chỉnh Sửa Thiết Bị </div>
  <table>
    <th id='type'>Type:</th>
    <td>
      <input type='text' name='name' /> </td>
    <th id='name'>Name:</th>
    <td>
      <input type='type' name='type' />
    </td>
  </table>
  <input type='file' name='file' />
  <center>
    <a class='closed-dialog' href='#dialog-box' onclick="closed_dialog();">Đóng</a>
    <a class='save-dialog' href='#dialog-box' onclick="save_dialog();">Save</a>
  </center>
</div>
