<div id='menu-header'>
  <li class="menu-home"><a href="#" onclick="show_tragchu();">Home</a></li>
  <li class="menu-home"><a href="#" onclick="show_qlphong();">Quản Lý Phòng</a></li>
  <li class="menu-li"><a href="#" onclick="show_qlthietbi();">Quản Lý Thiết Bị</a></li>
  <li class="menu-li"><a href="#" onclick="show_qltaikhoan();">Tài Khoản</a></li>
  <li class="menu-li"><a href="#" onclick="show_nhatky();">Nhật ký</a></li>
  <li class="menu-li"><a href="#" onclick="show_lienhe();">Liên hệ</a></li>
</div>
