<div class='tieude'> Danh sách trạm </div>
<div class="list-group" id="danh-sach-tram">
    <!-- <a href="#" class="list-group-item">Phòng Ăn</a>
    <a href="#" class="list-group-item">Phòng Ngủ</a>
    <a href="#" class="list-group-item">Nhà Bếp</a>
    <a href="#" class="list-group-item">Nhà Tắm</a>
    <a href="#" class="list-group-item">Phòng Khách</a> -->
</div>
